<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的任务本</title>
</head>
<body>

    <h1>{{ t_username }} 的任务本</h1>

    <a href="/logout">退出</a>
    <br><br>

    <!-- 【提示1】定义超链接
                超链接内容为文字信息：“”"新建任务"
                目标地址为："/add"
     -->

    <br><br>

    <form action="/todo" method="get">
        科目:
        <select name="subject">
            {% for i in t_options %}
                {% if i == t_subject %}
                    <option value="{{ i }}" selected>{{ i }}</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="查询">
    </form>

    <!-- 显示用户任务列表中的信息，定义模板变量t_todos存储任务列表-->
    <!-- 日期：date，科目：subject，内容：content，状态：state-->

    <h2>未完成：</h2>

    {% for i in t_todos %}
        {% if i['state'] == '未完成' %}
            <p>
                {{ i['date'] }}
                【{{ i['subject'] }}】
                {{ i['content'] }}
            </p>
        {% endif %}
    {% endfor %}



    <h2>已完成：</h2>

    {% for i in t_todos %}
        {% if i['state'] == '已完成' %}
            <p>
                {{ i['date'] }}
                【{{ i['subject'] }}】
                {{ i['content'] }}
            </p>
        {% endif %}
    {% endfor %}
</body>
</html>