img {
    width: 100%;
}

.text {
    font-weight: bold;
    font-size: 20px;
}

/*【提示3】使用id选择器设置div标签(属性为：id="content")，居中对齐text-align: center;*/


/*【提示4】使用id选择器设置div标签(属性为：id="note2")，首行缩进两个空格text-indent: 2em;*/













