.main{
    padding-bottom: 30px;
    box-sizing: border-box;
}
.mainLeft {
    width: 40%;
    min-width: 362px;
    height: 90px;
    text-align: right;
    padding-top: 160px;
    box-sizing: border-box;
}
.mainLeft .user{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width:237px;
    height:87px;
    background-image: url(../images/taskbook.png);
    background-size: 236px 52px;
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 8px;
    font-size:24px;
    color:rgba(71,72,76,1);
    text-align: right;
}
.user .userName{
    line-height:33px;
    position: absolute;
    bottom: 0;
    right: 3px;
}
.mainLeft .monkey{
    margin-right: 27px;
}
#content{
    /* padding-top: 130px;
    padding-left: 70px; */
    box-sizing: border-box;
    overflow: hidden;
}
form{
    line-height: 40px;
    color:rgba(73,74,87,1);
    margin-bottom: 30px;
}
.inputBox{
    margin-bottom: 37px;
}
label.fl{
    width: 80px;
    text-align: center;
}
select{
    width:163px;
    height:40px;
    background-color:rgba(32,53,128,0.01);
    border-radius:3px;
    border:1px solid rgba(32,53,128,0.16);
    margin-right: 65px;
    margin-left: 3px;
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;  
    /*在选择框的最右侧b中间显示小箭头图片*/  
    background-image: url("../images/Shape.png");
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: 148px 16px;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/  
    padding-right: 14px;  
    padding-left: 4px; 
    box-sizing: border-box; 
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
select::-ms-expand { display: none; } 

.time{
    color:rgba(0,0,0,1);
}
.textareaBox{
    position: relative;
}
#contText{
    width:373px;
    height:121px;
    background:rgba(32,53,128,0.01);
    border-radius:3px;
    border:1px solid rgba(32,53,128,0.16);
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}
#sub{
   display: none; 
}
.submitLabel{
    position: absolute;
    bottom: -25px;
    left: 294px;
    width: 166px;
    height: 54px;
    background-image: url("../images/b-submit.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.displaInline{
    display: inline-block;
}
#content{
    width: 521px;
    height: 427px;
    padding-top: 100px;
}
@media screen and (min-width:768px) and (max-width:962px){
    .mainLeft {
        padding-top: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #content{
        position: relative;
        left: 50%;
        transform:translate(-50%);
        top: -25px;
    }
}s

@media screen and (min-width:480px) and (max-width:768px){
    .mainLeft {
        padding-top: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    #content{
        position: relative;
        left: 50%;
        transform:translate(-50%);
        top: 30px;
    }
}

@media screen and (max-width:480px){
    .subject{
        width:60%;
    }
    .time{
        width: 38%;
    }
    .displaInline label{
        display: block;
    }
    .cityListWrap {
        padding: 0;
        float: left;
        width: 50%;
    }
    .city{
        width: 91%;
        height: 4rem;
        border-radius: 10px;
        margin:0 1rem;
    }
    .m-text{
        max-width: 920px;
        padding: 0 0px;
        margin-top: 20px;
    }
    .m-text >div{
        text-align: left;
        display: block;
        padding: 0 3rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .city div{
        line-height: 4rem;
    }
    .cityair,.cityname{
        font-size: 1rem;
    }
    .cityList{
        width: 100%;
    }
    .location{
        width: 85%;
        height: 11rem;
        margin: 0;
        margin-left: 5%;
        padding: 10px;
        margin-bottom: 1.5rem;
    }
    .main{
        margin: 0 10px;
    }
    header{
        padding: 10px;
    }
    .margin0{
        margin: 0;
    }
    .padding0{
        padding: 0;
    }
    .width28{
        width: 35%;
    }
    .width12{
        width: 12%;
    }
    .gobackWrap{
        width: 35%;
    }
    .mainLeft {
        padding-top: 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        min-width: 356px;
    }
    #content{
        position: relative;
        left: 50%;
        transform:translate(-50%);
        width: 100%;
        padding: 0;
    }
    .mainLeft .user{
        width: 220px;
        height: 56px;
        float: left;
        background-size: 130px 40px;
        background-position: center right;
    }
    .mainLeft .monkey{
        width: 56px;
        height: 56px;
        margin-right: 72px;
    }
    .userName{
        font-size: 1rem;
    }
    select[name=subject]{
        width: 80%;
        margin: 0;
        margin-left: 20px;
    }
    .submitLabel{
        left: 130px;
    }
    .textareaBox{
        width: 100%;
        padding: 10px;
    } 
    #contText{
        width: 100%;
        padding: 0;
        top: 20px;
    }
}
@media screen and (max-width:320px){
    .textareaBox{
        width: 100%;
        padding: 10px;
    } 
    #contText{
        width: 100%;
        padding: 0;
        top: 10px;
    }
}