<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{{ t_name }}欢迎你</title>
	<link rel="stylesheet" href="static/css/welcomes.css">
</head>
<body>
	<div class="welcome">
		<div class="user">
			<img src="static/images/welcome@2x.png" alt="">
			<p>Development by {{t_name}}</p>
		</div>
		<div class="gouseLink">
			<div class="engStart">START</div>
			<!--
			    【提示1】添加a标签，内容为'开始使用',链接到web项目中的主页面
			    【提示1】主页面的资源路径为'/main'
			-->
			<a href="/main">开始使用</a>

		</div>
	</div>
</body>
</html>
