<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1{
        text-align: center;}
        p{
        text-align: center;}
        div{
        text-align: center;}
        input{
        text-align: center;}
    </style>
</head>
<body>
<p>加载中.................................</p>
<div class="ji">
    <p>666:{{t_ji2}}</p>
    <p>667:{{t_ji1}}</p>
</div>
<p>{{t_jiq}}</p>
<form action="/ji2" method="post">
    <input type="text" name="jiq" class="ji">
    <input type="submit">
</form>
<h1><a href="/main">返回</a></h1>

</body>
</html>