<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐达人</title>
    <!-- 【提示1】 使用style标签添加CSS样式-->
    <!-- 【提示2】 在style标签中添加样式声明：字体颜色红色-->
    <!-- 【提示3】 添加选择器,为h2标签设置样式: 字体颜色红色-->
    <!-- 【提示4】 为p标签设置样式: 字体颜色蓝色
                 为body标签设置样式: 背景颜色亚麻色(linen)-->
    <!-- 【提示5】 为h2标签和p标签设置样式: 文本位置居中-->
    <style>
        h2 {
            color:green;
            text-align:center;
        }
        p {
            color:green;
            text-align:center;
        }
        body{
            background:green;
        }


    </style>
</head>
<body>
    <audio src="static/music/梦然-少年.mp3" controls="controls"></audio>
    <h2>少年</h2>
    <p>换种生活</p>
    <p>让自己变得快乐</p>
    <p>放弃执着</p>
    <p>天气就会变得不错</p>
    <p>每次走过</p>
    <p>都是一次收获</p>
    <p>还等什么 做对的选择</p>
    <p>过去的</p>
    <p>就让它过去吧</p>
    <p>别管那是一个玩笑还是谎话</p>
    <p>路在脚下</p>
    <p>其实并不复杂</p>
    <p>只要记得你是你呀</p>
    <p>Wu oh oh</p>
    <p>Wu oh oh</p>
    <p>我还是从前那个少年</p>
    <p>没有一丝丝改变</p>
    <p>时间只不过是考验</p>
    <p>种在心中信念丝毫未减</p>
    <p>眼前这个少年</p>
    <p>还是最初那张脸</p>
    <p>面前再多艰险不退却</p>
    <p>Say never never give up</p>
    <p>Like a fire</p>
    <p>Wu oh oh</p>
    <p>换种生活</p>
    <p>让自己变得快乐</p>
    <p>放弃执着</p>
    <p>天气就会变得不错</p>
    <p>每次走过</p>
    <p>都是一次收获</p>
    <p>还等什么 做对的选择</p>
    <p>过去的</p>
    <p>就让它过去吧</p>
    <p>别管那是一个玩笑还是谎话</p>
    <p>路在脚下</p>
    <p>其实并不复杂</p>
    <p>只要记得你是你呀</p>
    <p>Miya miya miya miya miya</p>
    <p>Call me</p>
    <p>Miya miya miya miya miya</p>
    <p>我还是从前那个少年</p>
    <p>没有一丝丝改变</p>
    <p>时间只不过是考验</p>
    <p>种在心中信念丝毫未减</p>
    <p>眼前这个少年</p>
    <p>还是最初那张脸</p>
    <p>面前再多艰险不退却</p>
    <p>Say never never give up</p>
    <p>Like a fire</p>
    <p>追逐生命里光临身边的每道光</p>
    <p>让世界因为你的存在变的闪亮</p>
    <p>其实你我他并没有什么不同</p>
    <p>只要你愿为希望画出一道想象</p>
    <p>成长的路上必然经历很多风雨</p>
    <p>相信自己终有属于你的盛举</p>
    <p>别因为磨难 停住你的脚步</p>
    <p>坚持住 就会拥有属于你的蓝图</p>
    <p>Wu oh oh</p>
    <p>我还是从前那个少年</p>
    <p>没有一丝丝改变</p>
    <p>时间只不过是考验</p>
    <p>种在心中信念丝毫未减</p>
    <p>眼前这个少年</p>
    <p>还是最初那张脸</p>
    <p>面前再多艰险不退却</p>
    <p>Say never never give up</p>
    <p>Like a fire</p>
    <p>我还是从前那个少年miya</p>
    <p>我还是从前那个少年miya</p>
    <p>我还是眼前这个少年miya</p>
    <p>我还是从前那个少年miya</p>
</body>
</html>