<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐达人</title>
    <!-- 【提示1】 使用style标签添加CSS样式-->
    <!-- 【提示2】 在style标签中添加样式声明：字体颜色红色-->
    <!-- 【提示3】 添加选择器,为h2标签设置样式: 字体颜色红色-->
    <!-- 【提示4】 为p标签设置样式: 字体颜色蓝色
                 为body标签设置样式: 背景颜色亚麻色(linen)-->
    <!-- 【提示5】 为h2标签和p标签设置样式: 文本位置居中-->
<style>
        h2 {
            color:red;
        }
        p {
            colo:blue;
        }
        body{
            background:green;
        }


    </style>
</head>
<body>
    <audio src="static/music/TFBOYS-青春修炼手册.mp3" controls="controls"></audio>
    <h2>青春修炼手册</h2>
    <p>跟着我 左手</p>
    <p>右手 一个慢动作</p>
    <p>右手 左手 慢动作重播</p>
    <p>这首歌 给你快乐</p>
    <p>你有没有爱上我</p>
    <p>跟着我 鼻子</p>
    <p>眼睛 动一动耳朵</p>
    <p>装乖 耍帅 换不停风格</p>
    <p>青春有太多</p>
    <p>未知的猜测</p>
    <p>成长的烦恼算什么</p>
    <p>皮鞋擦亮 换上西装</p>
    <p>佩戴上一克拉的梦想</p>
    <p>我的勇敢充满电量</p>
    <p>昂首到达每一个地方</p>
    <p>这世界 的太阳</p>
    <p>因为自信才能把我照亮</p>
    <p>这舞台 的中央</p>
    <p>有我才闪亮</p>
    <p>有我才能发着光</p>
    <p>跟着我 左手 右手</p>
    <p>一个慢动作</p>
    <p>右手 左手慢动作重播</p>
    <p>这首歌 给你快乐</p>
    <p>你有没有爱上我</p>
    <p>跟着我 鼻子眼睛</p>
    <p>动一动耳朵</p>
    <p>装乖 耍帅 换不停风格</p>
    <p>青春有太多 未知的猜测</p>
    <p>成长的烦恼算什么</p>
    <p>向明天 对不起</p>
    <p>向前冲 不客气</p>
    <p>一路有你</p>
    <p>充满斗志无限动力</p>
    <p>男子汉 没有什么输不起</p>
    <p>正太修炼成功的秘籍</p>
    <p>跟着我左手右手</p>
    <p>一个慢动作</p>
    <p>右手左手慢动作重播</p>
    <p>这首歌 给你快乐</p>
    <p>你有没有爱上我</p>
    <p>跟着我鼻子眼睛</p>
    <p>动一动耳朵</p>
    <p>装乖 耍帅 换不停风格</p>
    <p>青春有太多 未知的猜测</p>
    <p>成长的烦恼算什么</p>
</body>
</html>