<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="static/css/register_u21.css">
</head>
<body>
    <div class="page-register-wrap">
        <h1>注册</h1>
        <form action="/register_check" method="post">
            账号：<input type="text" name="username" required>
            <br>
            <!-- 【提示2】定义密码输入框，
                         数据名称为："pwd"，
                         设置内容必填
            -->

            <br>
            <input type="submit" value="注册">
        </form>
    </div>
</body>
</html>
