<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码强度</title>
    <link rel="stylesheet" href="static/css/strength_u21.css">
</head>
<body>
    <div class="page-strength-container">
        <h1>
            你的密码为：<span id="pwd-input">{{ t_pwd }}</span>
        </h1>
        <img src="static/images/看顶图.png" class="yuan-img">
        <div id="strength-text" class="strength-text"></div>
    </div>
    <script type="text/javascript" src="static/js/strength.js"></script>
</body>
</html>