<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一个HTML文件</title>
</head>
<body bgcolor="yellow">
<div align="center">
    <img  src="https://nimg.ws.126.net/?url=http%3A%2F%2Fcrawl.ws.126.net%2Fnbotreplaceimg%2F5d0496058db2f39d0278663121dad630%2F54e63675d62f49106a9d7645a63fa8e1.jpg&thumbnail=650x2147483647&quality=80&type=jpg" alt="">
    <h1 >春晓</h1>
    <p>
    春眠不觉晓，<br>
    处处闻啼鸟。<br>
    夜来风雨声，<br>
    花落知多少。<br>
    </p>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563618814051&di=98a3ae8bed2b1289b4648df57cf0241e&imgtype=0&src=http%3A%2F%2Fimg.mp.sohu.com%2Fupload%2F20170808%2F1b59e57967e14373b2be9a84368e32b4.png" alt="">

</div>

</body>
</html>