<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐达人</title>
    <style>
        h2 {
            color:red;
            text-align: center;
        }
        /* 【提示1】使用CSS规则添加CSS样式
        歌词：蓝色字体，居中显示
        body部分: 背景颜色为亚麻色(linen) */
       

    </style>
</head>
<body>
    <audio src="static/music/火箭少女101-卡路里.mp3" controls="controls"></audio>
    <h2>卡路里</h2>
    <p>孟美岐：</p>
    <p>每天起床第一句 先给自己打个气</p>
    <p>吴宣仪：</p>
    <p>每次多吃一粒米 都要说声对不起</p>
    <p>段奥娟：</p>
    <p>魔镜魔镜看看我 我的锁骨在哪里</p>
    <p>紫宁：</p>
    <p>美丽 我要美丽 我要变成万人迷</p>
    <p>合：</p>
    <p>Pose pose</p>
    <p>我要变成万人迷</p>
    <p>Pose pose</p>
    <p>徐梦洁：</p>
    <p>为了变成小蛮腰 天天提着一口气</p>
    <p>赖美云：</p>
    <p>为了穿上比基尼 吃草吃成沙拉精</p>
    <p>傅菁：</p>
    <p>天生丽质难自弃 可惜吃啥我都不腻</p>
    <p>合：</p>
    <p>努力 我要努力 我要变成万人迷</p>
    <p>赖美云/紫宁/李紫婷/徐梦洁：</p>
    <p>Wow</p>
    <p>孟美岐/吴宣仪/段奥娟/傅菁：</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>合：</p>
    <p>卡路里我的天敌</p>
    <p>杨超越：</p>
    <p>燃烧我的卡路里</p>
    <p>合：</p>
    <p>拜拜 甜甜圈 珍珠奶茶方便面</p>
    <p>火锅米饭大盘鸡</p>
    <p>孟美岐/吴宣仪：</p>
    <p>拿走拿走别客气</p>
    <p>合：</p>
    <p>拜拜 咖啡因 戒掉可乐戒油腻</p>
    <p>沙发外卖玩游戏</p>
    <p>Yamy/Sunnee：</p>
    <p>别再熬夜伤身体</p>
    <p>合：</p>
    <p>来来 后转体 高温瑜伽仰卧起</p>
    <p>动感单车普拉提</p>
    <p>赖美云/徐梦洁：</p>
    <p>保温杯里泡枸杞</p>
    <p>合：</p>
    <p>来来 深呼吸 晨跑夜跑游几米</p>
    <p>平板哑铃划船机 不达目的不放弃</p>
    <p>吴宣仪：</p>
    <p>为了变成小蛮腰 天天提着一口气</p>
    <p>孟美岐：</p>
    <p>为了穿上比基尼 吃草吃成沙拉精</p>
    <p>李紫婷：</p>
    <p>天生丽质难自弃 可惜吃啥我都不腻</p>
    <p>合：</p>
    <p>努力 我要努力 我要变成万人迷</p>
    <p>赖美云/紫宁/李紫婷/徐梦洁：</p>
    <p>Wow</p>
    <p>孟美岐/吴宣仪/段奥娟/傅菁：</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>卡路里卡路里卡路</p>
    <p>合：</p>
    <p>卡路里我的天敌</p>
    <p>杨超越：</p>
    <p>燃烧我的卡路里</p>
    <p>合：</p>
    <p>拜拜 甜甜圈 珍珠奶茶方便面</p>
    <p>火锅米饭大盘鸡 拿走拿走别客气</p>
    <p>拜拜 咖啡因 戒掉可乐戒油腻</p>
    <p>沙发外卖玩游戏 别再熬夜伤身体</p>
    <p>来来 后转体 高温瑜伽仰卧起</p>
    <p>动感单车普拉提 保温杯里泡枸杞</p>
    <p>来来 深呼吸 晨跑夜跑游几米</p>
    <p>平板哑铃划船机 不达目的不放弃</p>
    <p>Yamy/Sunnee（Rap）：</p>
    <p>Yamy：</p>
    <p>奇了怪了 小的时候明明是 妈妈说</p>
    <p>吃光盘中餐粒粒 皆辛苦</p>
    <p>Sunnee：</p>
    <p>直到最爱的裙子的扣子都系不上了</p>
    <p>Yamy：</p>
    <p>原来吃得掉 甩不掉 更辛苦</p>
    <p>Yamy：</p>
    <p>希望 体重 秤是坏的</p>
    <p>Sunnee：</p>
    <p>帅哥 爱唐代的</p>
    <p>合：</p>
    <p>不如跟着节奏没在怕的 努努力</p>
    <p>别让卡路里里卡路里 卡住你</p>
    <p>不达目的不放弃</p>
    <p>杨超越：</p>
    <p>燃烧我的卡路里</p>
    <p>合：</p>
    <p>拜拜 甜甜圈 珍珠奶茶方便面</p>
    <p>火锅米饭大盘鸡 拿走拿走别客气</p>
    <p>拜拜 咖啡因 戒掉可乐戒油腻</p>
    <p>沙发外卖玩游戏 别再熬夜伤身体</p>
    <p>来来 后转体 高温瑜伽仰卧起</p>
    <p>动感单车普拉提 保温杯里泡枸杞</p>
    <p>来来 深呼吸 晨跑夜跑游几米</p>
    <p>平板哑铃划船机 不达目的不放弃</p>
    <p>不放弃</p>
    <p>燃烧我的卡路里</p>
    <p>不放弃</p>
    <p>燃烧我的卡路里</p>
    <p>我要变成万人迷</p>
</body>
</html>