<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐达人</title>
    <style>
        h2 {
            color:red;
            text-align: center;
        }
        /* 【提示1】使用CSS规则添加CSS样式
        p {
            color:blue;
            text-align:center;
        }
        body{
            background:green;
        }
        歌词：蓝色字体，居中显示
        body部分: 背景颜色为亚麻色(linen) */
       

    </style>
</head>
<body>
    <audio src="static/music/静sir-骑上我心爱的小摩托.mp3" controls="controls"></audio>
    <h2>你是傻逼</h2>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>
    <p>你是傻逼</p>










</body>
</html>