<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏夹</title>
</head>
<body>
    <h1>我的收藏夹</h1>
    <!--
        【提示1】添加a标签，分别链接到百度和bilibili
        【提示1】百度的地址为'https://www.baidu.com'
        【提示1】bilibili的地址为'https://www.bilibili.com'
    -->
    <a href="https://www.baidu.com"></a>
    <a href="https://www.bilibili.com"></a>
    <!--
        【提示2】添加a标签，分别链接到web项目中的欢迎页面和主页面
        【提示2】欢迎页面的资源路径为'/welcome'
        【提示2】主页面的资源路径为'/main'
    -->
    <a href="/welcome"></a>
    <a href="/main"></a>

</body>
</html>