<!DOCTYPE html>
<html lang="zh">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{{t_my_name}}欢迎你访问</title>
	<link rel="stylesheet" href="/static/css/welcomes.css">
</head>
<body>
	<div class="welcome">
		
		<div class="user">
			<img src="/static/images/welcome@2x.png" alt="">
			<p>DEVELOPMENT BY {{t_my_name}}</p>
		</div>
		<div class="gouseLink">
			<div class="engStart">START</div>
			<a href="/main">开始使用</a>
		</div>
	</div>
</body>
</html>
