<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐达人</title>
    <style>
        h2 {
            color:red;
            text-align: center;
        }
        /* 【提示1】使用CSS规则添加CSS样式
        歌词：蓝色字体，居中显示
        body部分: 背景颜色为亚麻色(linen) */
        p{
            color:blue;
            text-align: center;
        }
        body{
            background: linen;
        }
    </style>
</head>
<body>
    <audio src="static/music/静sir-骑上我心爱的小摩托.mp3" controls="controls"></audio>
    <h2>骑上我心爱的小摩托</h2>
    <p>骑上我心爱的小摩托</p>
    <p>它永远不会堵车</p>
    <p>骑上我心爱的小摩托</p>
    <p>我马上就到家了</p>
    <p>他让我远离烦恼和忧伤</p>
    <p>他带我重新回到自由天堂</p>
    <p>来吧来吧和我一起上路</p>
    <p>嘟嘟嘟 嘟嘟嘟嘟 嘟嘟嘟嘟......</p>
    <p>骑上我心爱的小摩托</p>
    <p>它永远不会堵车</p>
    <p>骑上我心爱的小摩托</p>
    <p>我马上就到家了</p>
    <p>我马上就到家了</p>
    <p>我马上就到家了</p>
</body>
</html>