<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写个人信息</title>
    <link rel="stylesheet" href="/static/css/form_u13.css">
</head>
<body>
    <div class="page-form-container">
        <form action="/info" method="post">
            姓名：<input type="text" name="name">
            <br>
            年龄：<input type="text" name="age">
            <br>
            个人简介：
            <br>
            <!-- 【提示3】定义多行文本输入框，数据名称：info，列数：30，可见行数：4 -->
            
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>


