<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人名片</title>
    <link rel="stylesheet" href="/static/css/info_u13.css">
</head>
<body>
    <div class="row">
        <div class="img">
           <img src="/static/images/zy.png">
        </div>
        <div class="name">
            <!-- 【提示5】创建模板变量t_name(在"<span>"之后) -->
             <span></span>
        </div>
        <div class="age">
            <!-- 【提示5】创建模板变量t_age（在"年龄："之后） -->
            <p>年龄：</p>
            <!-- 【提示5】创建模板变量t_info（在"个人简介："之后） -->
            <p>个人简介：</p>
        </div>
    </div>
</body>
</html>

